{% extends "_header.html" %}
{% block title %}
{% endblock %}


{% block content %}


{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
<br>
<div class="container container-home">
    <p class="text-center fs-4">Hotel NORSU</p>
    <hr>
    <div class="row">
        <div class="col-sm">
            <a href="{% url 'dashboard' %}" type="button" class="btn btn-secondary btn-sm">
                Browse
            <a/>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-success btn-sm"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Book now!
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Book a Room</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST">
            <div class="modal-body">
            {% csrf_token %}
                {{ bookingForm.as_p }}
        
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success btn-sm">Save</button>
            </div>
            </div>
        </form>

    </div>
  </div>
{% endblock %}

{% include "_footer.html" %}